body {
    background:#2a2a2a !important; 
}
div.logo {
  background-color: black;
    /* background-image: url(../img/underwater2.webp); */
    /* background-position: center; Center the image */
}
div.logo__title {
  color: white;
  font-family: Graduate;
}
div.motto-title {
  font-size: larger;
  font-weight: bold;
}
div.motto {
  font-style: italic;
}
.btn {
	padding: 5px 10px;
	font-weight: 700;
	color: #fff !important;
	/* white-space: pre-line; */
	background: #2a2a2a;
  text-decoration: none !important;
}

/* columns */
.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.column img {
    width:100%
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* responsive grid */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
}

.udstrong {
    font-weight: bold;
    color: #bb4537;
}

/* standings table */
table.standings {
  width: 60%;
  margin: right;
  font-size: small;
}

table.standings th,table.schedule th {
  color: #ffffff;
  background: #2a2a2a;
  border-right: 0px;
  padding: 3px;
}

table.standings td {  
  border-right: 0px;
  padding: 2px 4px;
  text-align: center;
}

td.team-name {
  text-align: left !important;
}

table.standings tr:nth-child(odd) {
    color:#2a2a2a;
    background: #e3e3e3;
}

table.standings tr:nth-child(odd) a {
    color:#ffffff;
}

table.schedule {
  width: 100%;
  margin: auto;
  font-size: small;
}

table.schedule td {
  border-right: 0px;
  padding: 2px 4px;
  text-align: left;
}

.align-right {
  text-align: right !important;
}
.align-center {
  text-align: center !important;
}
.align-left {
  text-align: left !important;
}