<div class="row">
    <div class="col-5"><img src="/img/udteam.jpg" alt=""></div>
    <div class="col-7">
        <!-- <h3>Dawon Williams<br>Head Coach</h3><em><a href="mailto:{{ .Site.Params.widgets.social.emailcoach }}">{{ .Site.Params.widgets.social.emailcoach }}</a></em> -->
        <!-- <h3>Dawon Williams<br>Head Coach</h3> -->
        <p>Welcome to UD Basketball. My name is Coach Williams.</p>
        <p>We have development recreational and competitive tournament teams located in North Dallas for kids and young men 4th through 11th grade.</p>
        <p><strong>UD Basketball is about family, teaching morals and a fundamental understanding of team basketball.🏀</strong></p>
        
        {{ range .Site.Params.widgets.social.custom }}
        <div class="widget-social__item widget__item">
          <a class="widget-social__link widget__link btn" title="{{ .title }}" {{ with .rel | default "noopener noreferrer" }} rel="{{ . }}"{{ end }} href="{{ .url }}" target="_blank">
            {{- if .icon }}
              {{ partial .icon (dict "class" "widget-social__link-icon") }}
            {{- end }}
            <span>{{ .title }}</span>
          </a>
        </div>
        {{ end }}
        <br>
        <br>
        

        <!-- {{ partial "contact.html" . }} -->
    </div>
    
</div> 
{{ partial "widgets/motto.html" . }}