<div class="row">
    <div class="col-5"><img src="/img/coachwilliams.webp" alt=""></div>
    <div class="col-7">
        <h3>Dawon Williams<br>Head Coach</h3><em><a href="mailto:dawon@udbasketball.net">dawon@udbasketball.net</a></em>
        <br><br>
        <!-- <p>Coach Williams is originally from OKC and played basketball at Putnam City North. Basketball has always been in his family. His dad was a coach with AAU Basketball for 30 years.</p>
        <p>Dawon moved to Dallas 2013 and started coaching basketball at the YMCA in 2021. When the group he had been coaching aged out of the YMCA program, he created UD Basketball and kept the Underdogs together. It continues to grow every year and a new class of Underdogs is coming up the same way through the local YMCA.</p>
        <p><strong>UD Basketball is about family, teaching morals and a fundamental understanding of team basketball.🏀</strong></p> -->
        <p>Coach Williams is originally from Oklahoma City, where he developed a lifelong passion for basketball as a player at Putnam City North. Basketball runs deep in his family—his father dedicated 30 years to coaching AAU basketball, instilling in Dawon a profound appreciation for the game and its life lessons.</p>

        <p>Dawon moved to Dallas in 2013 and began coaching youth basketball at the YMCA in 2021. When his original group aged out of the  program, he founded UD Basketball to keep the Underdogs together. UD Basketball has flourished under his leadership, welcoming a new class of young athletes this year and building on the foundation he established at the YMCA.</p>

        <p>At its heart, UD Basketball is about family. Coach Williams emphasizes strong values, teamwork, and a fundamental understanding of the game, shaping both skilled players and resilient young men.</p>
    </div>
</div> 
<!-- <div class="row">
    <div class="col-2"><img src="/img/coaches/nick-hs-final3.webp" alt=""></div>
    <div class="col-10">
        <h3>Nick Dion<br>Assistant Coach</h3><em><a href="mailto:dionn@lisd.net">dionn@lisd.net</a></em>
        <br><br>
        <p>Nick Dion has served as the Assistant Swim and Water Polo coach at Flower Mound High School since 2022. Prior to being at Flower Mound, Dion was the Head Swim Coach at Liberty High School in Frisco for two years. While at Liberty, he led three swimmers to state finals in their respective events. While in Frisco, he also coached the Frisco United Water Polo club.</p>

        <p>In addition to his duties with FMHS, Dion also currently works for Mavericks Water Polo Club as a coach and is the head coach for the Highland Shores Swim Team.</p>
            
        <p>Dion was a four-year letterman in swimming at Marcus High School and made the All-State team his senior year.</p>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <img src="/img/coaches/mcguire-hs.webp" alt="">
    </div>
    <div class="col-10">
        <h3>Sherry McGuire<br>Head Dive Coach</h3><em><a href="mailto:mcguires@lisd.net">mcguires@lisd.net</a></em>
        <br><br>
        <p>Coach McGuire attended The College of Mount Saint Vincent and Manhattan College, receiving a Bachelor of Science degree in Physical Education. While attending college she received the Departmental Award for Physical Education majors, swam for the college and played on both the volleyball and softball teams. She also dove for a club while in college. McGuire went on to receive a Master of Science in Exercise Physiology from Queens College. In 2010, McGuire received the Distinguished Service Award from the Physical Education and Human Performance Department of Manhattan College for contributions to the Physical Education profession.</p>
            
        <p>After teaching 2 years in the Yonkers School District in New York, McGuire moved to San Francisco and taught at the San Francisco Center for the handicapped. Later she would move to Naperville, Illinois where she taught Physical Education at St Raphael. McGuire eventually made her way to Texas where she has coached diving at Flower Mound High School since it opened in 1999. In this time, she has produced 4 All-American divers.</p>
    </div>
</div> -->