<table class="schedule">
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th class="align-right">Visitor</th>
    <th colspan="2">Score</th>
    <th class="align-left">Home</th>
    
  </tr>
  {{ $season := .Get 0 }}
  {{ $scheduleFile := .Get 1 | default "schedule" }}
  <!-- {{ $games := index .Site.Data.schedule $season }} -->
  {{ $games := index (index .Site.Data $scheduleFile) $season }}
  {{ range $games }}
    {{ $homeScore := (.H | default "0") | int }}
    {{ $visitorScore := (.V | default "0") | int }}
    <tr>
      <td>{{ .Day }}, {{ .Date }} @ {{ .Time }}</td>
      <td>{{ .Location }}</td>
    {{ if in .Visitor "Underdogs" }}
      <td class="udstrong align-right">
    {{ else }}
      <td class="align-right">
    {{ end }}
      {{ .Visitor }}</td>

<!-- visitor score -->
      <td class="align-center">
    {{ if gt $visitorScore $homeScore }}
      <strong>{{ .V }}</strong>
    {{ else }}
      {{ .V }}
    {{ end }}
      </td>
<!-- home score -->
      <td class="align-center">
    {{ if gt $homeScore $visitorScore }}
      <strong>{{ .H }}</strong>
    {{ else }}
      {{ .H }}
    {{ end }}
      </td>

    {{ if in .Home "Underdogs" }}
      <td class="udstrong">
    {{ else }}
      <td>
    {{ end }}
      {{ .Home }}</td>
    </tr>
  {{ end }}
</table>