  {{ $season := .Get 0 }}
  {{ $standingsFile := .Get 1 | default "standings" }}
  {{ $teams := index (index .Site.Data $standingsFile) $season }}
  <!-- {{ $teams := index .Site.Data.standings $season }} -->
  {{ if $teams }}
    {{ $sorted := sort $teams "GB" "asc" }}
<table class="standings">
  <tr>
      <th class="standings-team">Team</th>
      <th class="standings-win">Win</th>
      <th class="standings-loss">Loss</th>
      <th class="standings-tie">Tie</th>
      <th class="standings-scored">Scored</th>
      <th class="standings-allowed">Allowed</th>
      <th class="standings-diff">Diff</th>
      <th class="standings-gb">GB</th>
  </tr>
    {{ range $sorted }}
      {{ if in .Guaranteed "Underdogs" }}
        <tr class="udstrong">
      {{ else }}
        <tr>
      {{ end }}
        <td class="team-name">{{ .Guaranteed }}</td>
        <td>{{ .Win }}</td>
        <td>{{ .Loss }}</td>
        <td>{{ .Tie }}</td>
        <td>{{ .Scored }}</td>
        <td>{{ .Allowed }}</td>
        <td>{{ .Diff }}</td>
        <td>{{ .GB }}</td>
      </tr>
    {{ end }}
{{ else }}
  <!-- <p>No teams data found for season {{ $season }} in {{ $standingsFile }}</p> -->
{{ end }}
</table>
